.contentSkeleton {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}
.productGridSkeleton {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.titleSkeleton {
  height: 2.25rem;
}
.gridSkeleton {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 0.5rem;
}
.gridItem {
  position: relative;
  max-width: 15.625rem;
  max-height: 15.625rem;
  min-width: 6.25rem;
  min-height: 6.25rem;
  aspect-ratio: 1 / 1;
}

@media (max-width: 1440px) {
  .gridSkeleton {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 1100px) {
  .gridSkeleton {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 720px) {
  .gridSkeleton {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 480px) {
  .gridSkeleton {
    grid-template-columns: repeat(2, auto);
  }
}
