.contentSkeleton {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

.productGridSkeleton {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.titleSkeleton {
  height: 2.25rem;
}

.gridSkeleton {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1.25rem;
}

.productSkeleton {}

.imageSkeleton {
  position: relative;
  max-width: 15.625rem;
  max-height: 15.625rem;
  min-width: 6.25rem;
  min-height: 6.25rem;
  aspect-ratio: 1 / 1;
}

.infoBlockSkeleton {
  height: 26px;
  display: flex;
  padding: 4px 8px 0;
  gap: 4px;
}

.btnSkeleton {
  height: 57px;
}


@media (max-width: 1440px) {
  .gridSkeleton {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  .gridSkeleton {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 720px) {
  .gridSkeleton {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .gridSkeleton {
    grid-template-columns: repeat(2, 1fr);
  }
}