.candleFrom {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: min-content;
}
.addBtn {
}
.addBtn > button {
  background: var(--color-ligth-blue);
  width: 100%;
  border: 2px solid var(--color-ligth-blue);
}
.addBtn > button > p {
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-standard);
}
