.candleFrom {
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: relative;
}
.addBtn > button {
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--color-green);
}
.addBtn > button > p {
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-standard);
  color: var(--color-green);
}
.addBtn > button > svg > path {
  fill: var(--color-green);
}
.mainInfo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.mainInfo > p {
  margin: 0;
  padding: 0;
  color: var(--color-000);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hideCandleForm {
  all: unset;
  border-radius: var(--border-radius-primary);
  border: 2px solid var(--color-eee);
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
.hideCandleForm > svg > path {
  fill: var(--color-aaa);
}
.configurationInfoBlock {
  display: flex;
  justify-content: space-between;
  border-top: 4px solid var(--color-eee);
  background: var(--color-fff);
  padding: 1.5rem 0;
  position: sticky;
  bottom: -0.25rem;
}
.priceBlock {
  display: flex;
  flex-direction: column;
}
.priceTitle {
  color: var(--color-blue);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
}
.price {
  font-size: var(--font-size-xl);
  color: var(--color-blue);
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-standard);
}
