.listProductsCart {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: fit-content;
  height: 100%;
}
.infoBlock {
  display: flex;
  gap: 0.5rem;
  border-top: 4px solid var(--color-eee);
  background: var(--color-fff);
  padding: 1rem 0;
  position: sticky;
  bottom: 0;
  flex-direction: column;
  margin-top: auto;
}
.priceBlock {
  display: flex;
  flex-direction: column;
}
.priceTitle {
  color: var(--color-blue);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
}
.price {
  font-size: var(--font-size-xl);
  color: var(--color-blue);
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-standard);
}

.default {
  color: var(--color-green);
  border: 2px solid var(--color-green);
  background: none;
}

.invalid {
  color: var(--color-d9d9d9);
  border: 2px solid var(--color-f5f5f5);
  background-color: var(--color-f5f5f5);
}

.valid {
  color: var(--color-green);
  border: 2px solid var(--color-light-green);
  background: var(--color-light-green);
}

@media (max-width: 1100px) {
  .listProductsCart {
    flex-direction: row;
  }
  .infoBlock {
    position: fixed;
    display: flex;
    border-top: 4px solid var(--color-eee);
    background: var(--color-fff);
    padding: 1.5rem 0;
    width: 94vw;
    flex-direction: row;
    justify-content: space-between;
    background: var(--color-fff);
    z-index: 49;
  }
  .infoBlock::before {
    content: '';
    position: absolute;
    top: 0;
    right: -2rem;
    bottom: -2rem;
    left: -2rem;
    background-color: var(--color-fff);
    z-index: -1;
  }
}
