.listProductsCartSkeleton {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.productCartSkeleton {
  display: flex;
}
.imageSkeleton {
  width: 72px;
  height: 72px;
}
.quantityManagementSkeleton {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 4px;
  justify-content: center;
}
.iconBtnSkeleton {
  width: 24px;
  height: 24px;
}
