.panel {
  width: 296px;
  padding: 24px 32px;
  border-radius: var(--border-radius-primary);
  background: var(--color-fafafa);
}

.panel p {
  margin: 0;
}

.infoBlock {}

.totalPriceBlock {
  display: flex;
  justify-content: space-between;
  color: var(--Color-000);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
}

.totalPrice {
  color: var(--color-blue);
  font-weight: var(--font-weight-600);
}

.totalQuantityBlock {
  color: var(--Color-222);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
  margin-top: 16px;
  margin-bottom: 24px;
}

.createOrder {
  all: unset;
  box-sizing: border-box;
  border-radius: var(--border-radius-primary);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-standard);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.875rem 1rem 1rem 1rem;
  align-items: center;
}

.default {
  border: 2px solid var(--color-light-blue);
  color: var(--color-blue);
}

.invalid {
  background-color: var(--color-light-red);
  color: var(--color-red);
}

.valid {
  background-color: var(--color-green);
  color: var(--color-fff);
}

@media (max-width: 1100px) {
  .panel {
    width: auto;
    display: flex;
    padding: 0;
    justify-content: space-between;
    border-top: 4px solid var(--color-eee);
    background: var(--color-fff);
    padding: 1.5rem 0;
    border-radius: 0;
    align-items: center;
  }

  .createOrder {
    width: auto;
    padding: 0.875rem 1rem 1rem 1rem;
  }

  .infoBlock {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .totalPriceBlock {
    font-size: var(--font-size-l);
    gap: 1rem;
  }

  .totalQuantityBlock {
    margin: 0;
    font-size: var(--font-size-m);
  }
}

@media (max-width: 480px) {
  .totalPriceBlock>p:first-child {
    display: none;
  }
}