.grid {
  max-width: 1301px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
@media screen and (max-width: 1320px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 990px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.candlesGrid > h2 {
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-heading-2);
  line-height: var(--line-height-110);
  margin: 0 0 24px 0;
  color: var(--color-aaa);
}
