.container {
  padding: 32px;
  padding-top: 48px;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.container>button {
  width: 100%;
}

.imageBlock {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.info {
  display: flex;
  gap: 3px;
  flex-direction: column;
}

.title {
  padding: 0;
  margin: 0;
  color: var(--color-222);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.description {
  padding: 0;
  margin: 0;
  color: var(--color-aaa);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
}

.removeBtn {
  all: unset;
  margin-left: auto;
}

.imagePrev {
  max-width: 72px;
}

.squareImage {
  overflow: hidden;
  aspect-ratio: 1;
}