.contentSkeleton {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: fit-content;
}
.productGridSkeleton {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.titleSkeleton {
  height: 36px;
}
.gridSkeleton {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 8px;
  justify-content: start;
}
.gridItem {
  width: 146px;
  height: 146px;
}
