.candleFrom {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: min-content;
}
.addBtn {
}
.addBtn > button {
  background: #d5e6fb;
  width: 100%;
  border: 2px solid #d5e6fb;
}
.addBtn > button > p {
  font-weight: 500;
  line-height: 130%;
}
