.listProductsCartSkeleton {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.productCartSkeleton {
  display: flex;
}
.imageSkeleton {
  width: 72px;
  height: 72px;
  border-radius: 10px;
  background-color: #eee;
  animation: skeleton 1s ease infinite alternate;
}
.quantityManagementSkeleton {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 4px;
  justify-content: center;
}
.iconBtnSkeleton {
  width: 24px;
  height: 24px;
  border-radius: 10px;
  background-color: #eee;
  animation: skeleton 1s ease infinite alternate;
}

@keyframes skeleton {
  to {
    opacity: 0.5;
  }
}
