.saveBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  background: var(--color-ligth-blue);
  border: 2px solid var(--color-ligth-blue);
  border-radius: var(--border-radius-secondary-large) 0px 0px;
  color: var(--color-blue);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-standart);
  padding: 14px 16px 16px 16px;
}
