.panel {
  width: 296px;
  padding: 24px 32px;
  border-radius: var(--border-radius-primary);
  background: var(--color-fafafa);
}
.panel p {
  margin: 0;
}
.totalPriceBlock {
  display: flex;
  justify-content: space-between;
  color: var(--Color-000);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standart);
}
.totalPrice {
  color: var(--color-blue);
  font-weight: var(--font-weight-600);
}
.totalQuantityBlock {
  color: var(--Color-222);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standart);
  margin-top: 16px;
  margin-bottom: 24px;
}
.createOrder {
  all: unset;
  border-radius: var(--border-radius-primary);
  border: 2px solid var(--color-green);
  background-color: var(--color-green);
  color: var(--color-fff);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-standart);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 14px 0 16px 0;
}
