.errorMessage {
  padding: 10px 12px 8px 12px;
  background-color: #fbdddd;
  border: 2px solid #fbdddd;
  border-radius: 10px;
  color: #eb5757;
  gap: 8px;
}
.errorMessage > span {
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
}
.closeButton {
  all: unset;
}
.visible {
  display: flex;
}
.nonVisible {
  display: none;
}
