.product {
  position: relative;
  width: 146px;
  height: 146px;
}
.image {
  overflow: hidden;
  width: 146px;
  height: 146px;
  background: #eee;
  border-radius: 10px;
  margin-right: 16px;
  display: block;
}
.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.price {
  position: absolute;
  bottom: 0;
  right: 0;
}
