.tagGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.selectedTag > h2 {
  display: inline-block;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: #505050;
  margin: 0 0 16px 0;
  padding: 0;
}
