.container {
  max-width: 1440px;
  padding: 24px 32px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  gap: 128px;
}
.leftPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.rightPanel {
}
.backBtn {
  margin-bottom: -24px;
}
.popUpNotification {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 50;
}
