.button {
  padding: 0;
  box-sizing: border-box;
  border: 2px solid #eeeeee;
  border-radius: 10px;
  background: none;
}
button:hover {
  cursor: pointer;
}
.button > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  gap: 8px;
  min-width: 320px;
}
.button > div > p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0px;
}
