.buttonDropdown {
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.buttonDropdown > p {
  margin-inline-end: 8px;
}
.dropdownIcon {
  position: relative;
  display: flex;
  padding-left: 14px;
  border-inline-start: 2px solid #eeeeee;
}
