.checkbox {
  position: relative;
}
.checkbox > input[type='checkbox'] {
  width: 24px;
  height: 24px;
  appearance: none;
  border-radius: 6px;
  border: 2px solid #e9fdf1;
  background-color: #e9fdf1;
  outline: none;
  cursor: pointer;
  display: block;
}
.checkbox > input:checked + .checkboxIcon {
  visibility: visible;
  border-radius: 6px;
  background-color: #6fcf97;
  border-color: #6fcf97;
}
.checkboxIcon {
  visibility: collapse;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.checkboxIcon > svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
