.checkboxBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  box-sizing: border-box;
  border: 2px solid #eeeeee;
  border-radius: 10px;
  background: none;
  padding: 14px 16px 16px 16px;
}
.checkboxBlock > p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #222;
}
