.inputTag {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border: 2px solid #eee;
  border-radius: 10px;
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
}
