.productBlock {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #eee;
  border-radius: 10px;
  padding-right: 16px;
  min-width: 320px;
  max-width: 500px;
}

.productBlock > label {
  margin-left: auto;
}

.image {
  min-width: 108px;
  min-height: 108px;
  background: #eee;
  border-radius: 10px;
  margin-right: 16px;
  display: block;
}

.info > p {
  margin: 0;
  text-align: start;
}

.title {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #222;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: "..";
  white-space: normal;
  word-wrap: break-word;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #aaa;
}
