.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  border: 2px solid #6fcf97;
  border-radius: 10px;
  background-color: #6fcf97;
  padding: 8px 12px;
}

.tag > p {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #ffffff;
}

.tag > button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
