.container {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow: auto;
  max-height: 80vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
  width: 0.75rem;
}

.container::-webkit-scrollbar-track {
  margin: 24px 0;
}

.container::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius-secondary);
  background: var(--color-eee);
  border: 2px solid var(--color-fff);
  border-radius: var(--border-radius-primary);
}

.title {
  color: var(--color-777);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-110);
  margin: 0;
  margin-bottom: 16px;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.secondaryInfo {
  color: var(--color-aaa);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
  margin: 0;
}

.secondaryInfo > span {
  color: var(--color-000);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-standard);
}

.priceInfo {
  font-size: var(--font-size-xl);
}

.priceInfo > span {
  font-size: var(--font-size-xl);
}

.Created {
  color: var(--color-000);
}
.Confirmed {
  color: var(--color-000);
}
.Placed {
  color: #f1b832;
}
.Paid {
  color: var(--color-green);
}
.InProgress {
  color: #3254db;
}
.Packed {
  color: #7d32db;
}
.InDelivery {
  color: #b632db;
}
.Completed {
  color: #db32bb;
}
.Cancelled {
  color: var(--color-d9d9d9);
}
