.button {
  box-sizing: border-box;
  border: 2px solid var(--color-eee);
  border-radius: var(--border-radius-primary);
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 16px 16px 16px;
  gap: 8px;
}

button:hover {
  cursor: pointer;
}

.button>p {
  font-style: normal;
  font-weight: var(--font-weight-500);
  margin: 0;
}

.buttonSize_xl {}

.buttonSize_l {}

.buttonSize_m {
  padding: 0.75rem;
}

.buttonSize_s {}

.textSize_xl {
  font-size: var(--font-size-xl);
}

.textSize_l {
  font-size: var(--font-size-l);
}

.textSize_m {
  font-size: var(--font-size-m);
}

.textSize_s {
  font-size: var(--font-size-s);
}