.button {
  box-sizing: border-box;
  border: 2px solid var(--color-eee);
  border-radius: var(--border-radius-primary);
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 16px 16px 16px;
  gap: 8px;
}
button:hover {
  cursor: pointer;
}
.button > p {
  font-style: normal;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-l);
  margin: 0;
  height: 1.625rem;
}
