.image {
    width: 100%;
    height: 100%;
}

.image>img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-primary);
    object-fit: cover;
}

.blurImage {
    background-size: cover;
    background-position: center;
    border-radius: var(--border-radius-primary);
}