.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
    border: none;
    height: 0.5rem;
}

progress::-webkit-progress-bar {
    background-color: var(--color-eee);
}

progress::-webkit-progress-value {
    background-color: var(--color-d9d9d9);
}