.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  border-radius: var(--border-radius-secondary);
  padding: 8px 12px;
  cursor: pointer;
}
.title {
  margin: 0;
  font-style: normal;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-l);
  line-height: var(--line-height-standard);
  color: var(--color-222);
}
.removeIcon {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.removeIcon > svg path {
  fill: var(--color-222);
}

.grey {
  background-color: var(--color-eee);
  border: 2px solid var(--color-eee);
}
.grey > .title {
  color: var(--color-d9d9d9);
}
.grey > .removeIcon > svg path {
  fill: var(-color-d9d9d9);
}

.outline {
  background-color: transparent;
  border: 2px solid var(--color-green);
}
.outline > .title {
  color: var(--color-green);
}
.outline > .removeIcon > svg path {
  fill: var(--color-green);
}
.outline:hover {
  background-color: var(--color-light-green);
  border: 2px solid var(--color-light-green);
}
.outline.selected {
  background-color: var(--color-green);
  border: 2px solid var(--color-green);
}
.outline.selected > .title {
  color: var(--color-fff);
}
.outline.selected > .removeIcon > svg path {
  fill: var(--color-fff);
}

.secondary {
  background-color: var(--color-light-green);
  border: 2px solid var(--color-light-green);
}
.secondary > .title {
  color: var(--color-green);
}
.secondary > .removeIcon > svg path {
  fill: var(--color-green);
}

.primary {
  background-color: var(--color-green);
  border: 2px solid var(--color-green);
}
.primary > .title {
  color: var(--color-fff);
}
.primary > .removeIcon > svg path {
  fill: var(--color-fff);
}
