.image {
  overflow: hidden;
  position: relative;
}
.image > img {
  height: 530px;
  width: 530px;
  border-radius: 10px;
  object-fit: cover;
}
.slider {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 8px;
}
.iconChevronBtn {
  border: none;
  background: none;
  padding: 0;
}
.iconChevronBtn:last-child {
  margin-left: auto;
}
.sliderImage {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 6px;
  object-fit: cover;
}
.imageNoAvailable {
  height: 530px;
  width: 530px;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #777;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.changesImages {
  display: flex;
  position: absolute;
  gap: 8px;
  top: 24px;
  right: 24px;
}
.iconChangeImages {
  border-radius: 6px;
  background: var(--color-light-green, #e9fdf1);
  width: 40px;
  height: 40px;
  border: none;
}
.iconUploadImages {
  border-radius: 6px;
  background: var(--color-light-green, #e9fdf1);
  width: 40px;
  height: 40px;
  border: none;
}
