.orderItem {}

.mainInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mainImage {
  background: var(--color-f7f7f7);
}

.squareImage {
  height: 108px;
  width: 108px;
  aspect-ratio: 1;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--color-222);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
  margin-top: -8px;
  gap: 4rem;
}

.secondaryBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.titleBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.title {
  margin: 0;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.showMoreInfoBtn {
  all: unset;
  display: flex;
  align-items: center;
  color: var(--color-aaa);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
}

.showMoreInfoBtn>svg>path {
  fill: var(--color-aaa);
}

.quantity {
  margin: 0;
  width: 4rem;
  text-align: right;
}

.price {
  font-weight: var(--font-weight-600);
  margin: 0;
  width: 6.25rem;
  text-align: right;
}

.paramsBlock {
  margin-left: 116px;
}

.params {
  display: flex;
  width: 100%;
  gap: 8px;
}

.paramsTitle {
  margin: 0;
  width: 26%;
  color: var(--color-777);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
}

.paramsListInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.paramsListInfoItem {
  display: flex;
  gap: 8px;
}

.paramsListInfoItem>span {
  color: var(--color-aaa);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
}

.paramsInfo {
  margin: 0;
}

.separator {
  display: block;
  margin: 8px 0;
  background: var(--color-eee);
  height: 1px;
}

@media (max-width: 1100px) {
  .paramsBlock {
    margin: 0;
    padding-top: 0.5rem;
  }
}

@media (max-width: 768px) {
  .title {
    -webkit-line-clamp: 1;
  }
}

@media (max-width: 576px) {
  .info {
    flex-direction: column-reverse;
    gap: 0.5rem;
    margin: 0;
  }

  .titleBlock {
    gap: 0;
  }

  .secondaryBlock {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .price {
    text-align: left;
  }

  .quantity {
    margin-left: auto;
  }
}