.container {
  display: flex;
  justify-content: space-between;
  margin: 0 32px;
  height: calc(100vh - 5.5em);
}

.leftPanel {
  padding: 24px 24px 0;
  border-right: 4px solid var(--color-eee);
}

.rightPanel {
  padding: 24px 32px 0;
  border-left: 4px solid var(--color-eee);
  flex: 1;
}

.rightPanel,
.leftPanel {
  overflow-y: auto;
  scroll-behavior: smooth;
}

.rightPanel::-webkit-scrollbar,
.leftPanel::-webkit-scrollbar {
  width: 0.75rem;
}

.leftPanel::-webkit-scrollbar {
  left: 0;
}

.rightPanel::-webkit-scrollbar-track,
.leftPanel::-webkit-scrollbar-track {
  margin: 24px 0;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius-secondary);
  background: var(--color-eee);
  border: 2px solid var(--color-fff);
  border-radius: var(--border-radius-primary);
}

.imagePanel {
  position: relative;
  flex: 2;
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
}

.imageBlock {
  overflow: hidden;
  display: flex;
  position: relative;
  margin: auto;
  min-width: 31.25rem;
}

.hideCandleForm {
  border-radius: var(--border-radius-primary);
  border: 2px solid var(--color-fafafa);
  background: var(--color-fafafa);
  display: flex;
  padding: 14px 16px 14px 16px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 32px;
  left: 32px;
}

.hideCandleForm>button {
  all: unset;
}

.orderInfo {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.orderBtn {
  border-radius: var(--border-radius-primary) var(--border-radius-primary) var(--border-radius-primary) 0px;
  border: 2px solid var(--color-light-green);
  background: var(--color-light-green);
  width: fit-content;
  padding: 14px 16px 16px 16px;
}

.orderBtn>a {
  all: unset;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-standard);
  color: var(--color-green);
}

.priceCandle {
  position: absolute;
  top: 32px;
  right: 32px;
  border-radius: var(--border-radius-primary);
  padding: 14px 16px 16px 16px;
  border: 2px solid var(--color-light-blue);
  background: var(--color-light-blue);
}

.priceCandle>span {
  color: var(--color-blue);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-standard);
}

.video {
  max-width: 60rem;
  border-radius: var(--border-radius-primary);
}

@media (max-width: 1100px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .leftPanel {
    overflow-y: unset;
    overflow-x: auto;
  }

  .leftPanel {
    padding: 24px 0;
    border-bottom: 4px solid var(--color-eee);
    border-right: none;
  }

  .rightPanel {
    padding: 0;
    padding-top: 24px;
    border-top: 4px solid var(--color-eee);
    border-left: none;
  }

  .rightPanel {
    overflow-y: visible;
  }

  .imagePanel {
    overflow: unset;
    display: block;
  }

  .imageBlock {
    min-width: 18.75rem;
  }

  .noElements {
    padding: 0;
    border: none;
  }
}

@media (max-width: 992px) {
  .container {
    margin: 0 16px;
  }

  .rightPanel {
    padding-bottom: 7.5rem;
  }
}