.container {
  display: flex;
  justify-content: space-between;
  margin: 0 32px;
}
.leftPanel {
  width: 132px;
  border-right: 4px solid #eee;
}
.imagePanel {
  margin-left: auto;
  margin-right: auto;
  width: 826px;
  height: 826px;
  border-radius: 10px;
  background: #eee;
}
.rightPanel {
  flex-shrink: 0;
}
