.container {
  padding: 32px;
}
.title {
  color: var(--color-777);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-110);
  margin: 0;
  margin-bottom: 16px;
}
.popUpGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.productButton {
  background: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 0px;
  border: none;
}
.selectedButton {
  all: unset;
  position: relative;
}
.selectedButton:before {
  content: '';
  width: 100%;
  height: 100%;
  padding: 2px;
  border-radius: var(--border-radius-secondary-large);
  border: 4px solid var(--color-green);
  position: absolute;
  top: -6px;
  right: -6px;
}
.saveButton {
  padding: 0;
  border-radius: var(--border-radius-primary);
  color: var(--color-d9d9d9);
  background: var(--color-f5f5f5);
  border: none;
  min-height: 58px;
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-l);
  line-height: var(--line-height-much-text);
  width: 100%;
  margin-top: 16px;
}
.activeSaveButton {
  color: var(--color-red);
  background: var(--color-light-red);
}

@media screen and (max-width: 1350px) {
  .popUp {
    border-radius: var(--border-radius-primary);
  }
  .title {
    margin: 20px 0 0 20px;
  }
  .popUp > button {
    margin-top: 20px;
    margin-right: 20px;
  }
  .popUpGrid {
    padding: 24px 20px 20px 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 940px) {
  .popUpGrid {
    padding: 24px 20px 20px 20px;
    grid-template-columns: 1fr;
  }
}
