.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 89vh;
}

.block>h3 {
  margin: 0;
  color: var(--color-222);
  font-size: var(--font-size-heading-2);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-110);
  text-align: center;
  margin-bottom: 1.5rem;
}

.block>p {
  all: unset;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
  margin-bottom: 32px;
  text-align: center;
}

.btnBlock {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.btn>a {
  all: unset;
  font-weight: var(--font-weight-500);
}

.btn {
  box-sizing: border-box;
  border: 2px solid var(--color-blue);
  border-radius: var(--border-radius-primary);
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.875rem 1rem 1rem 1rem;
  gap: 0.5rem;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-l);
  color: var(--color-blue);
  font-weight: var(--font-weight-500);
}

btn:hover {
  cursor: pointer;
}

.github {
  border-color: var(--color-green);
  color: var(--color-green);
}

.blockBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.authBtn {
  all: unset;
  margin-right: auto;
  cursor: pointer;
  color: var(--color-aaa);
  padding: 1.5rem;
}

@media (max-width: 992px) {
  .block {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media (max-width: 768px) {
  .block>h3 {
    font-size: var(--font-size-heading-3);
    font-weight: var(--font-weight-600);
  }

  .block>p {
    font-size: var(--font-size-l);
  }
}