.container {
  margin: 32px 32px 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.title {
  all: unset;
  color: var(--color-222);
  font-size: var(--font-size-heading-1);
  font-weight: var(--font-weight-700);
  line-height: var(--line-height-standard);
}
.mainBanner {
  display: flex;
  gap: 16px;
}
.banner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.banner > h3 {
  all: unset;
  margin: auto;
  color: var(--color-222);
  font-size: var(--font-size-heading-3);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-standard);
}
.image {
  overflow: hidden;
  max-width: 608px;
  max-height: 456px;
  border-radius: var(--border-radius-primary);
  display: block;
}
.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btnBlock {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.btnLink {
  all: unset;
  padding: 32px;
  display: block;
}
.btnConstructor {
  all: unset;
  padding-top: 18px;
  padding-bottom: 26px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  background: var(--color-light-blue);
  color: var(--color-blue);
  font-size: var(--font-size-heading-2);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-110);
}
.btnCatalog {
}
