.candleInfo {
  align-items: start;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.image {
  height: 530px;
  width: 530px;
  background-color: #eee;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

.formForCandle {
  flex: 1;
}

.formItem {
}

.itemTitle,
.itemDescription {
  grid-column: span 4;
}

.itemPrice,
.itemWeightGrams {
  grid-column: span 2;
}

.itemType {
  grid-column: 1/4;
}

.itemActive {
}

.saveBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #d5e6fb;
  border: 2px solid #d5e6fb;
  border-radius: 16px 0px 0px;
  color: #2e67ea;
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  padding: 14px 16px 16px 16px;
}
