.button {
  box-sizing: border-box;
  border: 2px solid #eeeeee;
  border-radius: 10px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 16px 16px 16px;
  gap: 8px;
}
button:hover {
  cursor: pointer;
}
.button > p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0px;
}
