.grid {
  max-width: 1301px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.titleBlock {
  display: flex;
  margin-bottom: 1.5rem;
  gap: 2rem;
  align-items: flex-end;
}
.titleBlock > h2 {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-heading-2);
  line-height: var(--line-height-standard);
  margin: 0;
  color: var(--color-aaa);
}
.titleBlock > button {
  border: none;
  padding: 0.5rem 0;
}
@media screen and (max-width: 1320px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .titleBlock {
    align-items: start;
  }
  .titleBlock > h2 {
    font-size: var(--font-size-xl);
  }
}
