.productsGridSkeleton {}

.titleSkeleton {
  width: 10rem;
  height: 1.625rem;
  margin-bottom: 0.5rem;
}

.gridSkeleton {
  max-width: 1301px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.productSkeleton {
  width: 100%;
  height: 7rem;
}

@media screen and (max-width: 1320px) {
  .gridSkeleton {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .gridSkeleton {
    grid-template-columns: 1fr;
  }
}