.tabsInput {
}
.titleBlock {
  display: flex;
  margin-bottom: 1.5rem;
  gap: 2rem;
  align-items: flex-end;
}
.titleBlock > h2 {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-heading-2);
  line-height: var(--line-height-standard);
  margin: 0;
  color: var(--color-aaa);
}
.titleBlock > button {
  border: none;
  padding: 0.5rem 0;
}
.content {
  display: flex;
  gap: 1rem;
}
.saveButton {
  border-radius: var(--border-radius-primary);
  background: var(--color-light-red);
  color: var(--color-red);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-standard);
  border: none;
  padding: 1rem;
}

@media (max-width: 768px) {
  .titleBlock {
    align-items: start;
  }
  .titleBlock > h2 {
    font-size: var(--font-size-xl);
  }
}
