.tabsInput {}

.titleBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  gap: 1rem;
}

.sectionHeader {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.sectionHeader>h2 {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-l);
  line-height: var(--line-height-standard);
  margin: 0;
  color: var(--color-222);
}

.sectionHeader>button {
  border: none;
  padding: 0;
}

.sectionHeader>button>p {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-400);
}

.content {
  display: flex;
  gap: 1rem;
}

.saveButton {
  border-radius: var(--border-radius-primary);
  background: var(--color-light-red);
  color: var(--color-red);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-standard);
  border: none;
  padding: 1rem;
}

.toggleButton {
  all: unset;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
  color: var(--color-222);
  margin: 0;
}