.tabsInput {
}
.tabsInput > h2 {
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-heading-2);
  line-height: var(--line-height-110);
  margin: 0 0 24px 0;
  color: var(--color-aaa);
}

.content {
  display: flex;
  gap: 16px;
}

.saveButton {
  border-radius: var(--border-radius-primary);
  background: var(--color-light-red);
  color: var(--color-red);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-standart);
  border: none;
  padding: 16px;
}
