.cornerTag {
  padding: 2px 4px;
  justify-content: center;
  align-items: center;
  background: var(--color-ligth-blue);
}
.leftCornerTag {
  border-radius: var(--border-radius-primary) 0px;
}
.rightCornerTag {
  border-radius: 0px var(--border-radius-primary);
}
.cornerTag > span {
  color: var(--color-blue);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: var(--font-weight-700);
  line-height: var(--line-height-standard);
}
