.errorMessage {
  padding: 10px 12px 8px 12px;
  background-color: var(--color-light-red);
  border: 2px solid var(--color-light-red);
  border-radius: var(--border-radius-primary);
  color: var(--color-red);
  gap: 8px;
}
.errorMessage > span {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-standard);
}
.closeButton {
  all: unset;
}
.visible {
  display: flex;
}
.nonVisible {
  display: none;
}
