.product {
  position: relative;
  display: flex;
  flex-direction: column;
}

.product:hover .descriptionWrapper {
  display: block;
}

.overflowHidden {
  overflow: hidden;
}

.selectBtn {
  all: unset;
  max-width: 15.625rem;
  max-height: 15.625rem;
  min-width: 6.25rem;
  min-height: 6.25rem;
  aspect-ratio: 1 / 1;
  background: var(--color-f7f7f7);
}

.selected {
  background: var(--color-light-green)
}

.indexTag {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: var(--color-fff);
}

.indexTag>p {
  font-size: var(--font-size-l);
  line-height: var(--line-height-standard);
  font-weight: var(--font-weight-400);
  margin: 0;
  padding: 4px 8px;
}

.infoBlock {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.5rem 0;
}

.descriptionWrapper {}

.price {
  margin: 0;
  font-size: var(--font-size-l);
  line-height: var(--line-height-standard);
  font-weight: var(--font-weight-400);
}

.descriptionBtn {
  all: unset;
  font-size: var(--font-size-l);
  line-height: var(--line-height-standard);
  font-weight: var(--font-weight-400);
  color: var(--color-aaa)
}