.productGrid > h2 {
  display: inline-block;
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
  color: var(--color-777);
  margin: 0 0 16px 0;
  padding: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 8px;
}

@media (max-width: 1440px) {
  .grid {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 720px) {
  .grid {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, auto);
  }
}
