.productGrid > h2 {
  display: inline-block;
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-standard);
  color: var(--color-505050);
  margin: 0 0 16px 0;
  padding: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 8px;
  justify-content: start;
}
