.productGrid {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.headerContainer {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.sectionHeader {
  display: inline-block;
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
  color: var(--color-000);
  margin: 0;
}

.toggleButton {
  all: unset;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
  color: var(--color-000);
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1.25rem;
}

@media (max-width: 1440px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 720px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}