.selectedTag {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.headerContainer {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.sectionHeader {
  display: inline-block;
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
  color: var(--color-000);
  margin: 0;
}

.toggleButton {
  all: unset;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
  color: var(--color-000);
  margin: 0;
}

.tagGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 100%;
}