.tagGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.selectedTag>h2 {
  display: inline-block;
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
  color: var(--color-222);
  margin: 0 0 16px 0;
  padding: 0;
}