.popUp > h2 {
  margin: 30px 0 0 40px;
  font-weight: 600;
  font-size: 50px;
  line-height: 110%;
  color: #aaa;
}
.popUpGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.productButton {
  background: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 0px;
  border: none;
}
.selectedButton {
  padding: 10px;
  border: 2px solid black;
}

.saveButton {
  bottom: 0;
  right: 0;
  position: absolute;
  width: 50%;
  border-radius: 40px 0;
  color: #eb5757;
  font-size: 28px;
  font-weight: 600;
  background: #fbdddd;
  line-height: 130%;
  border: none;
  min-height: 66px;
}

@media screen and (max-width: 1350px) {
  .popUp {
    border-radius: 20px;
  }
  .popUp > h2 {
    margin: 20px 0 0 20px;
  }
  .popUp > button {
    margin-top: 20px;
    margin-right: 20px;
  }
  .popUpGrid {
    padding: 24px 20px 20px 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 940px) {
  .popUpGrid {
    padding: 24px 20px 20px 20px;
    grid-template-columns: 1fr;
  }
}

.cont {
  padding: 24px 40px 40px 40px;
}

.title {
  color: #777;
  font-size: 50px;
  font-weight: 600;
  line-height: 110%;
}
