.checkbox {
  position: relative;
}
.checkbox > input[type='checkbox'] {
  width: 24px;
  height: 24px;
  appearance: none;
  border-radius: var(--border-radius-secondary);
  border: 2px solid var(--color-light-green);
  background-color: var(--color-light-green);
  outline: none;
  cursor: pointer;
  display: block;
}
.checkbox > input:checked + .checkboxIcon {
  visibility: visible;
  border-radius: var(--border-radius-secondary);
  background-color: var(--color-green);
  border-color: var(--color-green);
}
.checkboxIcon {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.checkboxIcon > svg {
}
