.contextMenu {
  padding: 16px 18px 18px 18px;
  position: absolute;
  right: -0.5rem;
  bottom: -4rem;
  border-radius: var(--border-radius-primary);
  border: 2px solid var(--color-eee);
  background: var(--color-fff);
  z-index: 50;
}

.header {
  font-size: var(--font-size-m);
  line-height: var(--line-height-standard);
  color: var(--color-aaa);
  margin: 0;
  text-wrap: nowrap;
  margin-bottom: 0.5rem;
}

.contextMenuItem {
  gap: 8px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contextMenuItem > button {
  all: initial;
}

.contextMenuItem {
  color: var(--color-222);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-standard);
  cursor: pointer;
  white-space: nowrap;
}

.contextMenuItem:not(:last-child) {
  margin-bottom: 8px;
}

.contextMenuItem:hover {
  color: var(--color-blue);
}
