.imageSlider {
  flex: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  max-width: 60rem;
  min-width: 18rem;
  aspect-ratio: 1 / 1;
}

.image>img {
  border-radius: var(--border-radius-primary);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 8px;
}

.iconChevronBtn {
  border: none;
  background: none;
  padding: 0;
}

.iconChevronBtn:last-child {
  margin-left: auto;
}

.imageSliderBlock {
  position: relative;
  width: 3.75rem;
  height: 3.75rem;
  overflow: hidden;
}

.sliderBtn {
  all: unset;
  width: 100%;
  height: 100%;
  padding: 0;
  background: none;
  border: none;
  width: 3.75rem;
  aspect-ratio: 1;
}

.imageNoAvailable {
  max-width: 60rem;
  min-width: 18rem;
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius-primary);
  object-fit: cover;
  width: 100%;
  height: 100%;
  background: var(--color-eee);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-primary);
  color: var(--color-777);
  font-style: normal;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-l);
}

.changesImages {
  display: flex;
  position: absolute;
  gap: 8px;
  top: 24px;
  right: 24px;
}

.iconChangeImages {
  border-radius: var(--border-radius-secondary);
  background: var(--color-light-green);
  width: 40px;
  height: 40px;
  border: none;
}

.iconUploadImages {
  border-radius: var(--border-radius-secondary);
  background: var(--color-light-green);
  width: 40px;
  height: 40px;
  border: none;
}

.squareImage {
  overflow: hidden;
  aspect-ratio: 1;
}