.productBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--color-eee);
  border-radius: var(--border-radius-primary);
  padding-right: 16px;
  gap: 12px;
  position: relative;
}

.isNonActive:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.6);
}

.info {
  z-index: 10;
}

.options {
  display: flex;
  position: relative;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.options>label {
  margin-left: auto;
}

.link>p {
  margin: 0;
  text-align: start;
}

.title {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-l);
  line-height: var(--line-height-standard);
  color: var(--color-222);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: '..';
  white-space: normal;
  word-wrap: break-word;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-m);
  line-height: var(--line-height-standard);
  color: var(--color-aaa);
}

.contextMenuBtn {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.link {
  all: unset;
  cursor: pointer;
}

.imageBlock {
  width: 108px;
  height: 108px;
  aspect-ratio: 1;
  background: var(--color-f7f7f7);
}

.nonImageBlock {
  height: 108px;
}

.image {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-primary);
  margin-right: 16px;
  display: block;
}

.image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.activeBlock {
  height: 1.5rem;
  width: 1.5rem;
  border: solid 0.25rem var(--color-eee);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.isActive {
  border-color: #DAFBE8;
  background-color: #DAFBE8;
}