.textarea {
  position: relative;
  display: flex;
}

.textarea > textarea {
  font-family: 'Inter', sans-serif;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-l);
  line-height: var(--line-height-much-text);
  color: var(--color-222);
  padding: 34px 16px 16px 16px;
  border: 2px solid var(--color-eee);
  border-radius: var(--border-radius-primary);
  width: 100%;
  box-sizing: border-box;
  resize: none;
  height: 84px;
}

.textarea > label {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-m);
  line-height: var(--line-height-standard);
  color: var(--color-d9d9d9);
  position: absolute;
  top: 12px;
  left: 16px;
}
.textarea > p {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-s);
  line-height: var(--line-height-standard);
  color: var(--color-d9d9d9);
  position: absolute;
  margin: 0;
  bottom: 8px;
  right: 8px;
}
